.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.f-d-row{
    flex-direction: row;
}

.f-d-column{
    flex-direction:  column;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100vh;
}

.a-i-center{
    align-items: center;
}

.a-i-left{
    align-items: left;
}

.a-i-right{
    align-items: left;
}

.j-c-center{
    justify-content: center;
}

.j-c-f-start{
    justify-content: flex-start;
}

.j-c-f-end{
    justify-content: flex-end;
}

.j-c-s-between{
    justify-content: space-between;
}

.j-c-s-evenly{
    justify-content: space-evenly;
}

.j-c-s-around{
    justify-content: space-around;
}
